In [1]:
# Loading the dataset using pandas

import pandas as pd

df = pd.read_csv('FCT.Insurance_Policy_Table.csv')

In [2]:
df.head()

,Policy Number,Start Date,Last Paid Date,Tenure (Years),Date of Purchase,Customer ID,Sum Assured INR/Coverage Amount,Premium Amount,Payment Frequency,Loan Eligible,...,Purchase Quarter,Purchase Year,Policy Anniversary Date,Claim ID,Policy Type Code,Policy Code,Policy Status,State,RM ID,Zonal Manager ID
0,TRS-POL-287638,28-01-2017,28-Jan-25,20,28-Jan-17,CUST-912138,1837929.13,18946.30,Monthly,No,...,Q1,2017,28-Jan-18,CLM-163983,TR-UNCD988,UGP-TRCD-9834,Active,Delhi,RMN7A3X1,ZMN8K2L1
1,TRS-POL-983850,27-10-2017,27-Oct-25,20,27-Oct-17,CUST-676760,143416.16,64648.36,Annually,Yes,...,Q4,2017,27-Oct-18,CLM-729665,TR-UNCD988,UGP-TRCD-9834,Active,Delhi,RMN7A3X1,ZMN8K2L1
2,TRS-POL-892387,18-04-2022,18-Apr-25,20,18-Apr-22,CUST-189349,619301.17,42085.47,Quarterly,Yes,...,Q2,2022,18-Apr-23,CLM-655001,TR-UNCD988,UGP-TRCD-9834,Active,Delhi,RMN7A3X1,ZMN8K2L1
3,TRS-POL-204292,20-11-2019,20-Nov-25,20,20-Nov-19,CUST-567423,1852545.62,97105.30,Annually,Yes,...,Q4,2019,20-Nov-20,CLM-101156,TR-UNCD988,UGP-TRCD-9834,Active,Delhi,RMN7A3X1,ZMN8K2L1
4,TRS-POL-621019,13-02-2023,13-Feb-25,20,13-Feb-23,CUST-292627,1882565.42,89233.91,Monthly,No,...,Q1,2023,13-Feb-24,CLM-762598,TR-UNCD988,UGP-TRCD-9834,Active,Delhi,RMN7A3X1,ZMN8K2L1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 24 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Policy Number                    10000 non-null  object
 1   Start Date                       10000 non-null  object
 2   Last Paid Date                   10000 non-null  object
 3   Tenure (Years)                   10000 non-null  int64
 4   Date of Purchase                 10000 non-null  object
 5   Customer ID                      10000 non-null  object
 6   Sum Assured INR/Coverage Amount  10000 non-null  float64
 7   Premium Amount                   10000 non-null  float64
 8   Payment Frequency                10000 non-null  object
 9   Loan Eligible                    10000 non-null  object
 10  Loan Amount Allowed              10000 non-null  float64
 11  Underwriting expenses            10000 non-null  float64
 12  Sales Agent Code                 10000 non-null  object
 13  Purchase Month                   10000 non-null  object
 14  Purchase Quarter                 10000 non-null  object
 15  Purchase Year                    10000 non-null  int64
 16  Policy Anniversary Date          10000 non-null  object
 17  Claim ID                         10000 non-null  object
 18  Policy Type Code                 10000 non-null  object
 19  Policy Code                      10000 non-null  object
 20  Policy Status                    10000 non-null  object
 21  State                            10000 non-null  object
 22  RM ID                            10000 non-null  object
 23  Zonal Manager ID                 10000 non-null  object
dtypes: float64(4), int64(2), object(18)
memory usage: 1.8+ MB

In [4]:
# Summary statistics using .describe()
df.describe()

,Tenure (Years),Sum Assured INR/Coverage Amount,Premium Amount,Loan Amount Allowed,Underwriting expenses,Purchase Year
count,10000.000000,1.000000e+04,10000.000000,1.000000e+04,10000.000000,10000.000000
mean,18.178900,1.054222e+06,52261.482831,4.753271e+05,5270.062794,2020.050900
std,5.446087,5.492609e+05,27511.888173,2.677470e+05,2774.424100,2.913479
min,10.000000,1.003168e+05,5028.980000,3.089454e+04,500.600000,2015.000000
25%,12.000000,5.772419e+05,28251.645000,2.481534e+05,2853.765000,2018.000000
50%,20.000000,1.059398e+06,52362.055000,4.576030e+05,5264.165000,2020.000000
75%,20.000000,1.527198e+06,76051.840000,6.726252e+05,7702.497500,2023.000000
max,25.000000,1.999547e+06,99997.010000,1.181952e+06,9999.780000,2025.000000

In [5]:
# Checking if missing data or null values are present in the dataset

df.isnull().sum()

Policy Number                      0
Start Date                         0
Last Paid Date                     0
Tenure (Years)                     0
Date of Purchase                   0
Customer ID                        0
Sum Assured INR/Coverage Amount    0
Premium Amount                     0
Payment Frequency                  0
Loan Eligible                      0
Loan Amount Allowed                0
Underwriting expenses              0
Sales Agent Code                   0
Purchase Month                     0
Purchase Quarter                   0
Purchase Year                      0
Policy Anniversary Date            0
Claim ID                           0
Policy Type Code                   0
Policy Code                        0
Policy Status                      0
State                              0
RM ID                              0
Zonal Manager ID                   0
dtype: int64

In [8]:
# Renaming columns according to snake casing for better readability and documentation

df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')

In [9]:
df.columns

Index(['policy_number', 'start_date', 'last_paid_date', 'tenure_(years)',
       'date_of_purchase', 'customer_id', 'sum_assured_inr/coverage_amount',
       'premium_amount', 'payment_frequency', 'loan_eligible',
       'loan_amount_allowed', 'underwriting_expenses', 'sales_agent_code',
       'purchase_month', 'purchase_quarter', 'purchase_year',
       'policy_anniversary_date', 'claim_id', 'policy_type_code',
       'policy_code', 'policy_status', 'state', 'rm_id', 'zonal_manager_id'],
      dtype='object')

In [10]:
df['payment_frequency'].unique()

array(['Monthly', 'Annually', 'Quarterly'], dtype=object)

In [12]:
# create new column purchase_frequency_days

frequency_mapping = {
   
    'Monthly': 30,
    'Quarterly': 90,
    'Annually': 365,
}

df['payment_frequency_days'] = df['payment_frequency'].map(frequency_mapping)

In [13]:
df[['payment_frequency_days','payment_frequency']].head(10)

   payment_frequency_days payment_frequency
0                      30           Monthly
1                     365          Annually
2                      90         Quarterly
3                     365          Annually
4                      30           Monthly
5                      90         Quarterly
6                     365          Annually
7                      90         Quarterly
8                      90         Quarterly
9                     365          Annually

In [14]:
df.columns

Index(['policy_number', 'start_date', 'last_paid_date', 'tenure_(years)',
       'date_of_purchase', 'customer_id', 'sum_assured_inr/coverage_amount',
       'premium_amount', 'payment_frequency', 'loan_eligible',
       'loan_amount_allowed', 'underwriting_expenses', 'sales_agent_code',
       'purchase_month', 'purchase_quarter', 'purchase_year',
       'policy_anniversary_date', 'claim_id', 'policy_type_code',
       'policy_code', 'policy_status', 'state', 'rm_id', 'zonal_manager_id',
       'payment_frequency_days'],
      dtype='object')

## Code for MS SQL Server

In [39]:
pip install pyodbc sqlalchemy

Requirement already satisfied: pyodbc in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (5.2.0)
Requirement already satisfied: sqlalchemy in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (2.0.44)
Requirement already satisfied: greenlet>=1 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.15.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~atplotlib (c:\Users\Admin\AppData\Local\Programs\Python\Python313\Lib\site-packages)
WARNING: Ignoring invalid distribution ~atplotlib (c:\Users\Admin\AppData\Local\Programs\Python\Python313\Lib\site-packages)
WARNING: Ignoring invalid distribution ~atplotlib (c:\Users\Admin\AppData\Local\Programs\Python\Python313\Lib\site-packages)

In [15]:
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote_plus
import pyodbc

In [ ]:

# SQL Server connection details
server = r"SACHIN\SQLEXPRESS"
database = "InsurancePremium"
table_name = "customers"
table_name = "customers"
table_name = "customers"
table_name = "customers"
table_name = "customers"
table_name = "customers"


# Create SQLAlchemy engine for pandas
driver = quote_plus("ODBC Driver 17 for SQL Server")
conn_str = f"mssql+pyodbc://@{server}/{database}?driver={driver}&trusted_connection=yes"
engine = create_engine(conn_str)

# Example: Write DataFrame to SQL Server
df.to_sql(table_name, engine, if_exists="replace", index=False)

# Read back sample data
sample_data = pd.read_sql(f"SELECT TOP 5 * FROM {table_name}", engine)
print(sample_data)

   customer_id  age gender item_purchased  category  purchase_amount  \
0            1   55   Male         Blouse  Clothing               53
1            2   19   Male        Sweater  Clothing               64
2            3   50   Male          Jeans  Clothing               73
3            4   21   Male        Sandals  Footwear               90
4            5   45   Male         Blouse  Clothing               49

        location size      color  season  review_rating subscription_status  \
0       Kentucky    L       Gray  Winter            3.1                 Yes
1          Maine    L     Maroon  Winter            3.1                 Yes
2  Massachusetts    S     Maroon  Spring            3.1                 Yes
3   Rhode Island    M     Maroon  Spring            3.5                 Yes
4         Oregon    M  Turquoise  Spring            2.7                 Yes

   shipping_type discount_applied  previous_purchases payment_method  \
0        Express              Yes                  14          Venmo
1        Express              Yes                   2           Cash
2  Free Shipping              Yes                  23    Credit Card
3   Next Day Air              Yes                  49         PayPal
4  Free Shipping              Yes                  31         PayPal

  frequency_of_purchases    age_group  purchase_frequency_days
0            Fortnightly  Middle-aged                       14
1            Fortnightly  Young Adult                       14
2                 Weekly  Middle-aged                        7
3                 Weekly  Young Adult                        7
4               Annually  Middle-aged                      365